
  <div class="col-md-6 offset-md-3">
    <div class="jumbotron">
      <%= bootstrap_devise_error_messages! %>
      <h2>Forgot your password?</h2>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

        <div class="field form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>
        <br/>
        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: 'btn btn-secondary btn-lg btn-block' %>
        </div>
      <% end %>
      <br/>
      <hr>
      <%= render "devise/shared/links" %>
    </div>
  </div>