<% if @stock %>
  <div class="col-md-6 offset-md-3">
    <div class="jumbotron">
      <%= @stock.company_name %><br/>
      $<%= @stock.latest_price %><br/>

<% end %>
</div>
</div>

<div class="col-md-6 offset-md-3">
  <div class="jumbotron">

<h1>Stocking</h1>
    <div class="form-group">
<%= form_tag root_path, :method => 'POST' do %>
  <%= text_field_tag 'ticker', nil, placeholder: "
      Enter Ticket Symbol", size: 50, class: 'form-control' %>
      <br/>
        <%= button_tag(type: :submit, class: 'btn btn-secondary btn-lg btn-block') do %>
          <i class="fa fa-search"></i> Look Up a Stock
        <% end %>
  <% end %>
    </div>
  </div>
</div>